.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.card {
  position: absolute;
  width: 200px;
  aspect-ratio: 1;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Small phones */
@media (max-width: 480px) {
  .card .image,
  .card img {
    width: 120px;
   
    border-radius: 12px;
  }
  .card{
    width: 120px;
  }

  /* globally scale stack in a bit */
  .bounceCardsContainer {
    transform: scale(0.7);
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .card .image,
  .card img {
    width: 150px;
    
  }
  .card{
    width: 150px;
  }

  .bounceCardsContainer {
    transform: scale(0.85);
  }
}

